body{
    background: rgb(241, 189, 154);
    background-image: url("Image/back.gif");
}
h1{
  text-align: center;
}
p{
  font-size: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.144);
}
section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.w1 {
    float: right;
    width: 70%;
    padding: 2px;
  }
  .w2 {
    float: right;
    width: 65%;
    padding: 2px;
  }
  .w3 {
    float:right;
    width: 70%;
    padding: 2px;
  }
  .w4 {
    float:right;
    width: 70%;
    text-align: initial;
    padding: 2px;
  }