body {
  background-color: cadetblue;
}

h2 {
  text-align: center;
  font-size: 40px;
}
h3{
  font-size: 35px;
}

p {
  font-size: 21px;
  margin: 1rem;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.meta {
  display: flex;
  justify-content: space-between;
  align-items: right;
  width: 100%;
  gap: 100px;
  padding: 0rem 0rem;
}

.video-flex {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 2rem, 2rem;
}