body {
  background: rgb(142, 222, 135);
  background-image: url("Image/b2.gif");

}


h2 {
  text-align: center;
}

p {
  font-size: 18px;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.w1 {
  float: right;
  width: 70%;
  padding: 2px;
}

.w2 {
  float: right;
  width: 70%;
  padding: 2px;
}

.w3 {
  float: left;
  width: 55%;
  padding: 2px;
}

.w4 {
  float: right;
  width: 70%;
  padding: 2px;
}

.w5 {
  float: left;
  width: 65%;
  padding: 2px;
}

.three-anim-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 100px;
  padding: 0rem 3rem;
}

.video-flex {
  display: flex;
  flex-direction: column;
  padding: 4px;
  margin: 2rem, 2rem;
}